html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  background: #ffffdf;
}

#wrapper {
  border: 1px solid gray;
  width: 500px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  border-radius: 11px;
  overflow: hidden;
}

#weather-api {
  position: absolute;
  left: 29%;
  margin-top: 15px;
}

#current-city {
    /* Size and position */
    border: 1px solid #464343;
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 100px;
    left: 25%;
    margin: 0 auto;
    padding: 10px 15px;

    /* Styles */
    background: wheat;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
}

#current-city:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

#current-city .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;

    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

#current-city .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#current-city .dropdown li:nth-child(1) a {
    border-left-color: #00ACED;
}

#current-city .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}

#current-city .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}

#current-city .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

#current-city .dropdown li:hover a {
    color: grey;
}

/* Active state */

#current-city.active:after {
    border-width: 0 6px 6px 6px;
}

#current-city.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       #current-city .dropdown,
.no-pointerevents #current-city .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       #current-city.active .dropdown,
.no-pointerevents #current-city.active .dropdown {
    display: block;
}



.top {
  width: 100%;
  margin: 0;
  height: 200px;
  position: relative;
}

.temperature {
  border: 1px solid gray;
  border-radius: 13px;
  height: 115px;
  width: 40%;
  margin: 0 auto;
  padding-top: 35px;
  margin-top: 20px;
}

.temperature span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 4px 4px 20px #000;
  font-family: Helvetica;
}

.temp-range {
  font-size: 1em !important;
  margin-top: 20px !important;
}

.button {
  border: 1px solid black;
  border-radius: 18px;
  cursor: pointer;
  width: 70px;
  height: 32px;
  color: #cccccc;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #808080;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30));
}

.top-buttons {
  display: inline-block;
  position: absolute;
  top: 42px;
  right: 37px;
}

.button-up {
  display: block;
  margin-bottom: 7px;
}

.bottom {
  text-align: center;
}

.nav {
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.nav ul {
  position: relative;
  display: inline;
}

.navbar-right {
  float: right;
  list-style-type: none;
  margin: 10px;
  display: block;
}

.navbar-left {
  float: left;
  list-style-type: none;
  margin: 10px;
  display: block;
}

footer {
   font-size: 10px;
   position: relative;
     right: 0;
     bottom: 0;
     left: 0;
     margin-top: 15em;
     text-align: center;
     border-top: 1px dashed white;
 }
