<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <div class="top">
      <div class="temperature">
        <span class="temp-value"></span>
        <span class="temp-range"></span>
      </div>
      <div class="top-buttons">
        <button class="button-up button">UP</button>
        <button class="button-down button">DOWN</button>
      </div>
    </div>
    <div class="bottom">
      <button class="button-reset button">RESET</button>
      <button class="button-psm-on button">PSM ON</button>
      <button class="button-psm-off button">PSM OFF</button>
    </div>


    <section id="weather-api">
        <h1>Temperature outside: <span id="current-temperature"></span></h1>
        <select id="current-city">
          <option value="london">London</option>
          <option value="newyork">New York</option>
          <option value="paris">Paris</option>
          <option value="tokyo">Tokyo</option>
        </select>
    </section>

  </div>
  <script type="text/javascript" src="js/scripts.js" ></script>
  <!-- <script src="js/Events.js"></script> -->
  <script src="js/Theromstat.js"></script>
</body>
</html>
